
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav{

 
  box-shadow: 3px 3px 5px (0,0,0,0.1);
  font-family: 'RAJDHANI', sans-serif;
  background-color: #444444;
  text-decoration: none;
}


nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content:flex-end ;
  align-items: center;
}

nav li {
  height: 80px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;

}
nav a:hover{
  background-color: grey;
  
}
nav li:first-child{
  margin-right: auto;

}


.sidebar{
  position:fixed;
  top:0;
  right:0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10px 0 10px(0,0,0,0.2);
  backdrop-filter: blur(10px);
  background-color: rgba(63, 61, 61, 0.5);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.sidebar li{
  width:100%;

}
.sidebar a{
  width: 100%;
}

.btn_nav {
  display: none;
}
/* SECTION PRESENTATION */ 


.hero {
    position: relative;
    width: 100%;
    height: 500px; /* Ajustez cette valeur en fonction de la taille de votre image */
    margin-top: 100px; /* Pour laisser plus d'espace entre la navbar et la section */
    display: flex;
    align-items: center;
    background-color: #d6d4d4; /* Couleur d'arrière-plan modifiée */
  }
  
  .hero img {
    width: 50%; /* La moitié de la largeur de la section */
    height: auto;
    object-fit: cover;
    border: 8px solid #333333; /* Cadre rouge transparent */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Ombre */
  }
  
  .hero-text {
    width: 50%; /* La moitié de la largeur de la section */
    padding: 20px;
    font-family: 'BARLOW';
    border: 8px solid #333333; /* Cadre rouge transparent */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Ombre */
  }
  
  .hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero-text p {
    font-size: 1.2em;







  }
  /***************************************************** SECTION SERVICES ******************************************************/

  .services-banner{
  text-align: center;
  background-color: #333333; /* Gris foncé */
  color: #FFFFFF;
  padding: 30px 0;
  font-family: 'Barlow', sans-serif;
  margin-top: 7rem;
}

.services-banner h2{
  font-size: 2em;
}


  .services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px; /* Espacement entre la bannière et les cards */
}

.service-card{
  width: 30%; /* Largeur de chaque card */
  background-color: rgba(255, 255, 255, 0.8); /* Fond blanc transparent */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombrage autour de la card */
}

.service-card h2 {
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

.service-card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0; /* Coins arrondis uniquement en haut */
}

.service-card p{
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
}

  
  /*********************** VEHICULE D'OCCASION ************************/

  .vehicle-sales-banner {
    text-align: center;
    background-color: #333333; /* Gris foncé */
    color: #FFFFFF;
    padding: 30px 0;
    font-family: 'Barlow', sans-serif;
  }
  
  .vehicle-sales-banner h2 {
    font-size: 2em;
  }
  
  .vehicle-sales {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px; /* Espacement entre la bannière et les cards de voitures */
  }
  
  .vehicle-card {
    width: 30%; /* Largeur de chaque card */
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc transparent */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombrage autour de la card */
  }
  
  .vehicle-card h3 {
    text-align: center;
  }
  
  .vehicle-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* Coins arrondis uniquement en haut */
  }
  
  .vehicle-card p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2em;
  }
  


  /*********************************** AVIS CLIENTS ****************************************************************/


  .testimonial-section {
    padding: 30px 0;
  }
  
  .testimonial-banner {
    text-align: center;
    background-color: #D94350; /* Couleur de la bannière */
    color: #FFFFFF; /* Couleur du texte */
    padding: 20px 0;
  }
  
  .testimonial-banner h2 {
    font-size: 2em;
    font-family: 'Barlow', sans-serif;
  }
  
  .testimonial-cards {
    margin-top: 20px; /* Espacement entre la bannière et les cards */
    display: flex;
    
     /* Permettre le passage à la ligne */
    justify-content: space-between; /* Espacement égal entre les cards */
  }
  
  .testimonial-card {
    width: calc(33.33% - 20px); /* Largeur de chaque card, moins la marge */
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc transparent */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombrage autour de la card */
  }
  
  .stars {
    text-align: center;
    color: #FFD700; /* Couleur jaune pour les étoiles */
    font-size: 24px; /* Taille des étoiles */
  }
  
  .testimonial-card h3 {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2em;
  }
  
  .testimonial-card p {
    text-align: center;
  }
  
  
  
  
  
  /*****************************   FOOTER STYLE ****************************************/  

  .footer {
    background-color: #333; /* Couleur de fond gris foncé */
    color: #fff; /* Couleur du texte blanc */
    padding: 20px 0;
    text-align: center;
    font-family: 'Barlow', sans-serif;
  }
  
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .opening-hours,
  .footer__container article {
    flex: 1 1 20%; /* Chaque colonne prend 20% de l'espace */
  }
  
  .opening-hours h4,
  .footer__container h4 {
    color: #fff; /* Couleur du titre blanc */
  }
  
  .opening-hours p {
    margin-bottom: 10px;
  }
  
  .footer__container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer__container ul li {
    margin-bottom: 5px;
  }
  
  .footer__container ul li a {
    color: #fff; /* Couleur des liens blancs */
    text-decoration: none;
  }
  
  .footer__container ul li a:hover {
    text-decoration: underline;
  }
  
  .footer__copyright {
    margin-top: 20px;
  }




  /****************FORMULAIRE CONNEXION******************/

  
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'RAJDHANI', sans-serif;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input::placeholder {
    color: #999;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #828385;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #19191a;
}

  
  /********** PAGE VEHICULES *****************/ 

/* Style pour la section de recherche */
.vehicule_search {
  margin-top: 20px; /* Marge en haut de la section */
  margin-bottom: 20px; /* Marge en bas de la section */
}

/* Style pour la barre de recherche de texte */
.vehicule_search input[type="text"],
.vehicule_search select {
  width: 200px; /* Largeur des champs de recherche */
  padding: 10px; /* Padding autour des champs de recherche */
  margin-right: 10px; /* Marge à droite des champs de recherche */
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 5px; /* Coins arrondis */
  font-family: 'RAJDHANI', sans-serif; /* Police de caractères */
  font-size: 16px; /* Taille du texte */
  outline: none; /* Suppression du contour bleu lors du focus */
}

/* Style pour les boutons de recherche */
.vehicule_search button[type="submit"] {
  padding: 10px 20px; /* Padding autour du bouton */
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Coins arrondis */
  background-color: #313030; /* Couleur de fond grise */
  color: #fff; /* Couleur du texte blanc */
  font-family: 'RAJDHANI', sans-serif; /* Police de caractères */
  font-size: 16px; /* Taille du texte */
  cursor: pointer; /* Curseur pointeur au survol */
}

/* Style pour les boutons de recherche au survol */
.vehicule_search button[type="submit"]:hover {
  background-color: #999; /* Couleur de fond plus foncée au survol */
}


/**********************FORMULAIRE DE CONTACT *********************************/

.contact-form {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 150px;
}


/*******************************PAGE AVIS ***************************/ 


.reviews-section {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reviews-section h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.review-form .form-group {
  margin-bottom: 20px;
}

.review-form .form-group label {
  display: block;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.review-form input[type="number"],
.review-form input[type="text"],
.review-form input[type="email"],
.review-form textarea {
  width: 100%;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.review-form textarea {
  height: 150px;
}

.review-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.review-form button[type="submit"]:hover {
  background-color: #333;
}


/*****************DASHBOARD ***************/

/* Style du tableau */

.dashboard h2 {
  font-family: "BARLOW";
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Barlow", sans-serif;
}

/* Style des cellules du tableau */
td, th {
  border: 1px solid #333; /* Bordure de 1px solide gris foncé */
  padding: 8px; /* Espacement interne des cellules */
}

/* Style des entêtes de colonne */
th {
  background-color: #333; /* Fond gris foncé pour les entêtes de colonne */
  color: white; /* Texte blanc pour les entêtes de colonne */
}

/* Style des lignes impaires */
tr:nth-child(odd) {
  background-color: #f2f2f2; /* Fond gris clair pour les lignes impaires */
}

/* Style pour rendre le tableau responsive */
@media screen and (max-width: 600px) {
  /* Rétablir la bordure uniquement sur les cellules nécessaires */
  td, th {
    border: none;
    border-bottom: 1px solid #333;
    padding: 10px;
    display: table-cell; /* Maintenir les cellules en ligne */
  }

  /* Style des lignes impaires */
  tr:nth-child(odd) {
    background-color: #f2f2f2; /* Fond gris clair pour les lignes impaires */
  }

  /* Entête de colonne */
  th {
    background-color: #333;
    color: white;
    text-align: left;
  }
}



  /*************** MEDIA QUERYS ****************************************************************/


  /***************************TABLETTE *************************************/ 

  /* Media query pour les tablettes */
@media screen and (max-width: 1024px) {
    /* NAV BAR */
    .btn_nav {
      display: block;
    }
  .hideOnMobile{
    display: none;
  }
    
}

/* Media query pour les écrans de taille plus petite */
@media screen and (max-width: 768px) {


  
    /* SECTION PRESENTATION */
    .hero {
      height: auto; /* Ajuster la hauteur automatiquement */
      flex-direction: column; /* Afficher le texte en dessous de l'image */
      align-items: center; /* Centrer le contenu */
    }
    .hero img,
    .hero-text {
      width: 100%; /* Occupera toute la largeur */
      border: none; /* Supprimer le cadre et l'ombre */
      box-shadow: none;
    }
  
    /* SECTION SERVICES */
    .services-banner h2,
    .services-banner {
      padding: 20px 0; /* Ajuster le rembourrage */
    }
    .service-card {
      width: 45%; /* Ajuster la largeur des cards */
    }
  
    /* SECTION VEHICULES */
    .vehicle-sales-banner h2,
    .vehicle-sales-banner {
      padding: 20px 0; /* Ajuster le rembourrage */
    }
    .vehicle-card {
      width: 45%; /* Ajuster la largeur des cards */
    }
  
    /* SECTION AVIS CLIENTS */
    .testimonial-banner h2,
    .testimonial-banner {
      padding: 20px 0; /* Ajuster le rembourrage */
    }
    .testimonial-cards {
      flex-direction: column; /* Afficher les cards en colonne */
    }
    .testimonial-card {
      width: 100%; /* Occupera toute la largeur */
    }
  
  
    /* Rétablir la bordure uniquement sur les cellules nécessaires */
    td, th {
      border: none;
      border-bottom: 1px solid #333;
      padding: 10px;
      display: table-cell; /* Maintenir les cellules en ligne */
    }
  
    /* Style des lignes impaires */
    tr:nth-child(odd) {
      background-color: #f2f2f2; /* Fond gris clair pour les lignes impaires */
    }
  
    /* Entête de colonne */
    th {
      background-color: #333;
      color: white;
      text-align: left;
    }
  }
  